@charset "utf-8";

@import 'base/reset';
@import 'base/common';
@import 'base/fonts';

@import 'components/header';
@import 'components/footer';


.stars-container {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 3s infinite ease-in-out;
}

@keyframes twinkle {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}


/* home 시작 */
.home {
    background-image: url(../images/home_bg.png);
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title-box {
        .title__box {
            .first__title {
                font-size: 30px;
                margin-bottom: 20px;
                font-family: "GL";

                // 커서 효과
                &::after {
                    content: '|';
                    margin-left: 5px;
                    opacity: 1;
                    animation: blink 1s step-start infinite;
                }
                
                // 텍스트 입력이 완료 되면 커서 제거
                &.finished::after {
                    content: '';
                    animation: none;
                }

                @keyframes blink {
                    50% {
                        opacity: 0;
                    }
                }
            }

            .second__title {
                font-size: 70px;
                margin-bottom: 30px;
                opacity: 0;
                animation: fadeIn 2s ease 1.2s forwards, subtlePulse 4s ease 3.2s infinite;
                animation-delay: 1.2s;
                position: relative;
                font-family: "GB";

                // 페이드인 효과
                @keyframes fadeIn {
                    to {
                        opacity: 1;
                    }
                }

                // 펄스 효과
                @keyframes subtlePulse {
                    0%, 100% {
                        transform: scale(1);
                        text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
                    }
                    50% {
                        transform: scale(1.02);
                        text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
                    }
                }

                // 밑줄 효과
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    height: 2px;
                    background-color: #fff;
                    width: 0;
                    animation: underlineExpand 1s forwards;
                    animation-delay: 3s;
                    @keyframes underlineExpand {
                        from {
                            width: 0;
                        }
                        to {
                            width: 100%;
                        }
                    }
                }
            }
            
            .third__title {
                font-size: 60px;
                opacity: 0;
                transform: translateY(20px);
                animation: slideUp 2s forwards;
                animation-delay: 1.5s;
                color: #D25DEF;

                // 슬라이드 업 효과
                @keyframes slideUp {
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
/* home 끝 */

/* about 시작 */
.about {
    letter-spacing: 1px;

    &__content {
        display: flex;
        gap: 30px;
    }
    
    &__column {
        font-family: "GL";

        &--profile {
            width: 30%;
            .about__profile-img {
                width: 320px;
                margin-bottom: 20px;
            }

            .about__list {
                &-item {
                    margin-bottom: 15px;

                    .about__label {
                        color: #a9a9a9;
                        display: inline-block;
                        width: 100px;
                        font-size: 16px;
                    }
                    .about__value {
                        font-size: 18px;
                    }
                }
            }
        }

        &--details {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            & > .about__details-top {
                display: flex;
                
                & > .about__details-left {
                    width: 55%;

                    .about__section {
                        &--education {
                            margin-bottom: 60px;

                            .about__list {
                                &-item {
                                    margin-bottom: 20px;
                                    .about__date {
                                        margin-bottom: 5px;
                                    }
                                    .about__value {}
                                }
                            }
                        }

                        &--experience {
                            .about__list {
                                &-item {
                                    .about__date {
                                        margin-bottom: 5px;
                                    }
                                    .about__value {}
                                }
                            }
                        }
                    }
                }

                & > .about__details-right {
                    width: 45%;

                    .about__section {
                        .license-group {
                            display: flex;
                            &__year {
                                font-weight: normal;
                                color: #a9a9a9;
                                font-size: 14px;
                                width: 60px;
                            }

                            &__list {
                                margin-bottom: 25px;
                            }

                            &__item {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            
            & > .about__details-bottom {
                width: 100%;

                .about__section {
                    &--introduce {
                        .about__description {
                            line-height: 1.5;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }

    &__date {
        color: #a9a9a9;
        font-size: 14px;
    }

    &__subheading {
        font-size: 24px;
        font-family: "GM";
        margin-bottom: 15px;
        position: relative;
        padding-left: 15px;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-58%);
            width: 8px;
            height: 24px;
            background-color: #D25DEF;
        }
    }
}
/* about 끝 */

/* skills 시작 */
.skills {
    &__groups {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__group {
        flex: 0 0 calc(50% - 20px);
    }

    &__group-title {
        font-family: "GB";
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #D25DEF; // 타이틀 색상 (예시)
    }

    &__item {
        background-color: #333; // 박스 배경색
        padding: 20px;
        border-radius: 8px;

        &-desc {
            color: #fff; // 설명 텍스트 색상 (예시)
            margin-bottom: 10px;
        }

        .skills__icons {
            display: flex;
            gap: 10px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                img {
                    max-width: 40px; // 아이콘 크기 (필요에 따라 조정)
                    height: auto;
                    display: block;
                }
            }
        }
    }
}
/* skills 끝 */

/* portfolio 시작 */
.portfolio {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        flex: 0 0 calc(33.333% - 20px);
        box-sizing: border-box;
        background-color: #333;
        padding: 20px;
        border-radius: 8px;
        position: relative;
    
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .portfolio__project-name {
            font-size: 1.2rem;
            font-weight: 600;
            color: #c84ae8;
        }
    
        .portfolio__completion {
            font-size: 0.9rem;
            color: #aaa;
        }
    }

    &__desc {
        font-size: 0.95rem;
        color: #ddd;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    &__techs {
        display: flex;
        gap: 10px;
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    
        .portfolio__tech {
            background-color: #555;
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 0.8rem;
        }
    }

    .portfolio__image {
        position: relative;
        background-color: #333;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

    }
}
/* portfolio 끝 */
