@charset "utf-8";

@font-face {
    font-family: "PM";
    src: url(../font/Pretendard-Medium.otf);
}

@font-face {
    font-family: "RE";
    src: url(../font/Pretendard-Regular.otf);
}

@font-face {
    font-family: "BO";
    src: url(../font/Pretendard-Bold.otf);
}

@font-face {
    font-family: "M";
    src: url(../font/Pretendard-Medium.otf);
}

@font-face {
    font-family: "AE";
    src: url(../font/AbhayaLibre-ExtraBold.ttf);
}
