@charset "utf-8";

/* font */
@font-face {
    font-family: "gmarketB";
    src: url(../fonts/GMARKETSANSBOLD.OTF);
}

@font-face {
    font-family: "gmarketM";
    src: url(../fonts/GMARKETSANSMEDIUM.OTF);
}

@font-face {
    font-family: "gmarketL";
    src: url(../fonts/GMARKETSANSLIGHT.OTF);
}

@font-face {
    font-family: "nanumR";
    src: url(../fonts/NANUMSQUARER.TTF);
}

@font-face {
    font-family: "nanumL";
    src: url(../fonts/NANUMSQUAREL.TTF);
}

@font-face {
    font-family: "nanumEB";
    src: url(../fonts/NANUMSQUAREEB.TTF);
}

@font-face {
    font-family: "nanumB";
    src: url(../fonts/NANUMSQUAREB.TTF);
}

/* font 끝 */