@charset "utf-8";
#wrap {
    position: relative;
}

/* home */
.home {
    height: 100vh;
}

.home__bg {
    background-image: url(../image/main_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.home__title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* home 끝 */

/* about */
.about {
    background-image: url(../image/main2_bg.png);
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    margin: 0 auto;
}

.about__video-con {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
    height: 900px;
}

.about__video-box {
    position: absolute;
    left: 50%;
    margin-left: -650px;
}

.about__video-box video {
    width: 1280px;
    height: 720px;
    position: relative;
}

video::-webkit-media-controls-play-button { }
video::-webkit-media-controls-fullscreen-button { display: none; }
video::-webkit-media-controls-time-remaining-display { display: none; }
video::-webkit-media-controls-current-time-display { display: none; }
button#mute, button#full-screen, input#volume-bar, input#seek-bar { display: none; }

.about__inner {
    width: 1580px;
    margin: 0 auto;
}

.about__box {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.about__logo {
    margin-right: 100px;
}

.about__logo img {
    width: 100%;
}

.about__text {
    color: #fff;
    margin-left: 100px;
    margin-top: 50px;
}

.about__text-title {
    margin-bottom: 60px;
    font-size: 32px;
    font-family: "eng1";
}

.about__text-info {
    font-size: 20px;
    line-height: 2.2em;
    font-family: "suitR";
    width: 700px;
}

.about__members {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 200px;
}

.member {
    width: 400px;
    height: 400px;
    cursor: pointer;
    position: relative;
}

.member__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    text-align: center;
}

.member:hover .member__info {
    display: flex;
    justify-content: center;
    padding-top: 190px;
}

.member__name {
    color: #fff;
    font-family: "suitR";
    font-weight: bold;
    font-size: 16px;
}

.member__bar {
    background-color: #e1005f;
    width: 4px;
    height: 16px;
    margin: 4px 30px;
}

.member__birth {
    color: #fff;
    font-family: "suitR";
    font-weight: bold;
    font-size: 16px;
}

.member img {
    width: 400px;
    height: 400px;
}

.nft-intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-intro__left {
    margin-right: 50px;
    width: 600px;
}

.nft-intro__title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 60px;
    font-family: "eng1";
}

.nft-intro__text-a,
.nft-intro__text-b {
    color: #fff;
    font-family: "suitR";
    font-size: 20px;
    line-height: 2.0em;
}

.nft-intro__text-a {
    margin-bottom: 30px;
}

.nft-intro__right {
    margin-left: 50px;
}

.nft-intro__right img {
    width: 500px;
    height: 500px;
    border: 2px solid;
    border-image: linear-gradient(to top, #a0e9c3, #cde39c, #f2c582, #ec9a7e);
    border-image-slice: 1;
}
/* about 끝 */

/* artist */
.artist {
    background: linear-gradient(to bottom, #a0e9c3, #cde39c, #f2c582, #ec9a7e);
    padding-top: 180px;
    padding-bottom: 180px;
}

.artist__container {
    width: 1400px;
    margin: 0 auto;
}

.artist__content {
    display: flex;
    justify-content: center;
}

.artist__left {
    margin-right: 80px;
    border: 2px solid #fff;
    transform: rotate(30deg);
}

.artist__left img {
    transform: rotate(-30deg);
}

.artist__right {
    margin-left: 80px;
    padding-top: 100px;
}

.artist__title {
    font-family: "eng1";
    font-size: 32px;
    margin-bottom: 60px;
}

.artist__info {
    font-family: "suitR";
    font-size: 20px;
    line-height: 2em;
    font-weight: 600;
}
/* artist 끝 */

@media screen and (max-width: 1300px) {
    /* size 1024 */

    /* home */
    .home__title img {
        width: 700px;
    }
    /* home 끝 */

    /* about */
    .about {
        background-image: url(../image/main2_bg.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 100%;
        padding-top: 150px;
        width: 100%;
    }
    
    .about__inner {
        width: 100%;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .about__video-con {
        width: 820px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 100px;
        height: 600px;
    }
    
    .about__video-box {
        position: sticky;
        margin: 0 auto;
        text-align: center;
    }
    
    .about__video-box video {
        width: 820px;
        height: 460px;
    }

    .about__box {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
    }
    
    .about__logo {
        margin-right: 30px;
    }
    
    .about__logo img {
        width: 220px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    .about__text {
        margin-left: 30px;
        margin-top: 0;
    }
    
    .about__text-title {
        margin-bottom: 40px;
        font-size: 28px;
    }
    
    .about__text-info {
        font-size: 20px;
        line-height: 2em;
        width: 700px;
    }

    .about__members {
        grid-template-columns: repeat(3, 250px);
        column-gap: 10px;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        justify-content: center;
        margin-bottom: 200px;
    }
    
    .member {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
    }
    
    .member__info {
        width: 250px;
        height: 250px;
    }
    
    .member img {
        width: 250px;
        height: 250px;
    }
    
    .member:hover .member__info {
        padding-top: 120px;
    }

    .pc_bar {
        display: none;
    }
    
    .nft-intro__left {
        margin-right: 0;
        width: 500px;
    }
    
    .nft-intro__text-box.kor_intro_info {
        padding-top: 10px;
    }
    
    .nft-intro__title {
        color: #fff;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .nft-intro__text-box .nft-intro__text-a,
    .nft-intro__text-box .nft-intro__text-b {
        font-size: 18px;
        line-height: 1.8em;
    }
    
    .nft-intro__text-box .nft-intro__text-a {
        margin-bottom: 40px;
    }
    
    .nft-intro__right {
        margin-left: 20px;
        width: 400px;
        height: 400px;
    }
    
    .nft-intro__right img {
        width: 400px;
        height: 400px;
    }
    /* about 끝 */

    /* artist */
    .artist {
        padding-top: 180px;
        padding-bottom: 180px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .artist__container {
        width: 100%;
    }
    
    .artist__content .artist__left {
        margin-right: 30px;
        border: 2px solid #fff;
        transform: rotate(30deg);
        width: 300px;
        height: 300px;
    }
    
    .artist__content .artist__left img {
        transform: rotate(-30deg);
        width: 300px;
        height: 300px;
    }
    
    .artist__content .artist__right {
        margin-left: 30px;
        padding-top: 15px;
    }
    
    .artist__content .artist__right .artist__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    .artist__content .artist__right .artist__info {
        font-size: 18px;
        line-height: 1.8em;
    }
    /* artist 끝 */

}
@media screen and (max-width: 1023px) {
    /* size 768 */

    /* about */
    .about {
        background-image: url(../image/main2_bg.png);
        padding-top: 100px;
        background-size: cover;
        width: 100%;
    }

    .about__inner {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .about__video-con {
        width: 720px;
        margin: 0 auto;
        margin-bottom: 100px;
        height: 460px;
    }
    
    .about__video-box video {
        width: 720px;
        height: 460px;
    }

    .about__box {
        display: block;
        margin-bottom: 100px;
    }
    
    .about__logo {
        margin-right: 0;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .about__logo img {
        width: 300px;
        margin-top: 0;
        margin-left: 0;
    }
    
    .about__text {
        margin: 0 auto;
        margin-left: 0;
        text-align: center;
    }
    
    .about__text-title {
        margin-bottom: 40px;
        font-size: 28px;
        text-align: center;
    }
    
    .about__text-info {
        margin: 0 auto;
        display: inline-block;
        font-size: 20px;
        line-height: 1.8em;
        width: 700px;
        text-align: center;
    }
    
    .about__members {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        column-gap: 10px;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
    
    .member {
        width: 220px;
        height: 220px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
    }
    
    .member__info {
        width: 220px;
        height: 220px;
    }
    
    .member img {
        width: 220px;
        height: 220px;
    }
    
    .member:hover .member__info {
        padding-top: 120px;
    }
    
    .pc_bar {
        display: none;
    }
    
    /* NFT Intro 영역 */
    .nft-intro {
        padding-top: 150px;
        padding-bottom: 150px;
        display: block;
        text-align: center;
    }
    
    .nft-intro__left {
        margin: 0 auto;
        margin-right: 0;
        width: 650px;
        display: inline-block;
    }
    
    .nft-intro__text-box.kor_intro_info {
        padding-top: 10px;
    }
    
    .nft-intro__title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    
    .nft-intro__text-a {
        margin-bottom: 40px;
    }
    
    .nft-intro__text-b {
        margin-bottom: 60px;
    }
    
    .nft-intro__right {
        display: inline-block;
        margin-left: 0;
        width: 400px;
        height: 400px;
    }
    
    .nft-intro__right img {
        padding-right: 4px;
        padding-bottom: 4px;
        width: 400px;
        height: 400px;
    }
    /* about 끝 */

    /* artist */
    .artist__content {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    .artist__left {
        margin-right: 0;
        width: 350px;
        height: 350px;
        display: inline-block;
        margin-bottom: 120px;
    }
    
    .artist__left img {
        width: 350px;
        height: 350px;
        text-align: center;
    }
    
    .artist__right {
        display: inline-block;
        width: 650px;
        margin-left: 0;
        padding-top: 0;
    }
    
    .artist__right .artist__title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    .artist__right .artist__info {
        font-size: 18px;
        line-height: 1.8em;
    }
    /* artist 끝 */
}

@media screen and (max-width: 767px) {
    /* size 425 */
    /* home */
    .home__title img {
        width: 400px;
    }
    /* home 끝 */

    /* about */
    .about__inner {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .about {
        margin-bottom: 0;
    }
    
    .about {
        background-size: cover;
        background-position: center;
    }
    
    .about__video-con {
        width: 390px;
        margin-bottom: 100px;
        height: 220px;
        display: none;
    }
    
    .about__video-box video {
        width: 390px;
        height: 220px;
    }
    
    .about__box {
        display: block;
        margin-bottom: 100px;
    }
    
    .about__logo {
        margin-right: 0;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .about__logo img {
        width: 250px;
    }
    
    .about__text {
        margin: 0 auto;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    
    .about__text-title {
        margin-bottom: 30px;
        font-size: 24px;
        text-align: center;
    }
    
    .about__text-info {
        font-size: 18px;
        line-height: 1.8em;
        width: 100%;
        text-align: left;
    }

    .about__members {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        column-gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
        justify-content: center;
        margin-bottom: 0;
    }
    
    .member {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
    }
    
    .member__info {
        width: 180px;
        height: 180px;
    }
    
    .member img {
        width: 180px;
        height: 180px;
    }
    
    .member:hover .member__info {
        padding-top: 120px;
    }
    
    .member__name {
        font-size: 14px;
    }
    
    .member__bar {
        width: 4px;
        height: 12px;
        margin: 4px 10px;
    }
    
    .member__birth {
        font-size: 14px;
    }
    
    .ta_bar {
        display: none;
    }

    .nft-intro__left {
        margin-right: 0;
        width: 100%;
        display: inline-block;
    }
    
    .nft-intro__text-box.kor_intro_info {
        padding-top: 10px;
    }
    
    .nft-intro__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .nft-intro__text-a {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.6em;
        text-align: left;
    }
    
    .nft-intro__text-b {
        font-size: 16px;
        margin-bottom: 60px;
        line-height: 1.6em;
        text-align: left;
    }
    
    .nft-intro__right {
        width: 300px;
        height: 300px;
        display: inline-block;
        margin-left: 0;
    }
    
    .nft-intro__right img {
        padding-right: 4px;
        padding-bottom: 4px;
        width: 300px;
        height: 300px;
    }
    /* about 끝 */

    /* artist */
    .artist__left {
        width: 300px;
        height: 300px;
    }
    
    .artist__left img {
        width: 300px;
        height: 300px;
    }
    
    .artist__right {
        width: 100%;
        margin-left: 0;
        padding-top: 0;
    }
    
    .artist__right .artist__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .artist__right .artist__info {
        font-size: 16px;
        line-height: 1.6em;
        text-align: left;
    }
    /* artist 끝 */
}

@media screen and (max-width: 424px) {
    /* size 320 ~ 360 */

    /* home */
    .home__title img {
        width: 300px;
    }
    /* home 끝 */

    /* about */
    .about {
        padding-bottom: 100px;
    }

    .about__box .about__logo img {
        width: 200px;
    }

    .about__box .about__text-title {
        margin-bottom: 20px;
        font-size: 22px;
        text-align: center;
    }
    .about__box .about__text-info {
        font-size: 16px;
    }

    .about__members {
        grid-template-columns: 140px 140px;
    }

    .member {
        width: 140px;
        height: 140px;
    }

    .member .member__info {
        width: 140px;
        height: 140px;
    }

    .member img {
        width: 140px;
        height: 140px;
    }

    .member:hover .member__info {
        padding-top: 65px;
    }

    .member .member__info .member__name {
        font-size: 12px;
    }
    .member .member__info .member__bar {
        width: 4px;
        height: 10px;
        margin: 5px 5px 0;
    }
    .member .member__info .member__birth {
        font-size: 12px;
    }

    #NFT_intro {
        padding-bottom: 0px;
    }

    .nft-intro__left .nft-intro__text-box .nft-intro__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .nft-intro__right {
        width: 250px;
        height: 250px;
    }
    .nft-intro__right img {
        padding-right: 0px;
        padding-bottom: 0px;
        width: 250px;
        height: 250px;
    }
    /* about 끝 */

    /* artist */
    .artist__left {
        width: 220px;
        height: 220px;
    }
    
    .artist__left img {
        width: 220px;
        height: 220px;
    }
    /* artist 끝 */

}