.stars-container {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 3s infinite ease-in-out;
}

@keyframes twinkle {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.inner {
    width: 1300px;
    margin: 0 auto;
}

#about, #skills, #portfolio {
    padding: 100px 0;
}

.section__title {
    font-family: "GB";
    font-size: 34px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

