.stars-container {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    pointer-events: none;
    z-index: -1;
    background: transparent;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 3s infinite ease-in-out;
}

@keyframes twinkle {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.inner {
    width: 1300px;
    margin: 0 auto;
}

#about, #skills, #portfolio {
    padding: 100px 0;
}

.section__title {
    font-family: "GB";
    font-size: 34px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 3px solid;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width:1300px) {
    // 1024 size
    .inner {
        width: 960px;
    }
}

@media screen and (max-width:1023px) {
    // 768 size
    .inner {
        width: 100%;
        margin: 0;
        padding: 0 30px;
    }

    .section__title {
        font-size: 30px;
    }

}
@media screen and (max-width:767px) {
    // 525 size
    .inner {
        padding: 0 20px;
    }

    .section__title {
        font-size: 28px;
    }

}
@media screen and (max-width:424px) {
    // 320 size
    .section__title {
        font-size: 26px;
    }
}

