@charset "utf-8";

/* main content */

.con_inner {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 90px;
}

.left_con {
    width: 150px;
}
.left_con p {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-color: gray;
}

.center_con {
    margin-right: 15px;
    margin-left: 15px;
    width: 670px;
}
.center_con .board_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.center_con .board_top .board_title {
    padding-left: 20px;
    font-size: 20px;
}
.center_con .board_top .board_post_count {
    padding-right: 20px;
    font-size: 14px;
}

.center_con .board_main {
    width: 100%;
}

.center_con .board_main .board_table {
    margin-bottom: 30px;
}

.center_con .board_main .board_table ul.post_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #000;
    line-height: 3em;
}

.center_con .board_main .board_table ul{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #888;
    line-height: 2.6em;
}

.center_con .board_main .board_table ul li.post_number {
    width: 9%;
}

.center_con .board_main .board_table ul li.post_title {
    width: 55%;
}

.center_con .board_main .board_table ul li.post_writer {
    width: 20%;
}

.center_con .board_main .board_table ul li.post_date {
    width: 8%;
}

.center_con .board_main .board_table ul li.post_view {
    width: 8%;
}

.board_bottom {}
.board_bottom ul {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.board_bottom ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.board_bottom ul li a.paging_on {
    font-weight: bold;
}

.search_box {
    display: flex;
    justify-content: center;
}

.right_con {
    width: 250px;
}

.right_con p {
    width: 250px;
    height: 90px;
    background-color: gray;
    margin-bottom: 20px;
}



