@charset "utf-8";

/* font */

@font-face {
    font-family: "StarS";
    src: url(../fonts/PF스타더스트S.ttf);
}

@font-face {
    font-family: "StarSB";
    src: url(../fonts/PF스타더스트S\ Bold.ttf);
}

@font-face {
    font-family: "Star";
    src: url(../fonts/PF스타더스트.ttf);
}

@font-face {
    font-family: "StarB";
    src: url(../fonts/PF스타더스트\ Bold.ttf);
}

@font-face {
    font-family: "Neo";
    src: url(../fonts/neodgm.ttf);
}

@font-face {
    font-family: "Uhbee";
    src: url(../fonts/UhBee\ BEOJJI.ttf);
}

@font-face {
    font-family: "UhbeeB";
    src: url(../fonts/UhBee\ BEOJJI\ Bold.ttf);
}

@font-face {
    font-family: "suit";
    src: url(../fonts/SUIT-BOLD.TTF);
}

/* font 끝 */